.sb {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 28px;
	font-weight: 800;
	float: left;
	margin-left: 50px;
	color: #444;
}

.sb2 {
	float: right;
	margin-right: 50px;
}

.headers {
	clear: both;
}

.nav_list {
	text-align: center;
	width: 100%;
	display: inline-block;
}

.list {
	color: #444;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}

.top {
	background-color: #FFECB3;
	padding-bottom: 25px;
}

.top, .philosophy, .the_digs {
	margin-right: 75px;
	margin-left: 75px;
}

.modern_working {
	background-image: url(modern_working.jpg);
	height: 800px;
	width: 1252px;
	margin-left: 75px;
}

.mission {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	padding-top: 165px;
	padding-left: 20px;
}

.iphone, .mission, .describe_philosophy {
	color: #FAFAFA;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.iphone {
	padding-left: 959px;
	padding-top: 245px;
	font-size: 14px;
	color: #E1BEE7;
}

.to_do {
	padding-bottom: 7px;
}

.philosophy, .the_digs {
	font-size: 20px;
	background-color: #4A148C;
}

.describe_philosophy {
	width: 500px;
	padding-left: 400px;
	padding-top: 20px;
	line-height: 1.5;
	text-align: center;
}

.unproductive, .stressed {
	color: #F48FB1;
	font-weight: 600;
}

#phil {
	font-family: 'Fjalla One', sans-serif;
	font-size: 42px;
	color: #fff;
	margin-left: 75px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.3;
	border: 2px solid white;
	width: 320px;
}

.show_digs {
	padding-top: 500px;
}

#stick {
	width: 100px;
	height: auto;
	float: right;
	padding-right: 50px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.running_sticks {
	padding-top: 60px;
	padding-right: 110px;
}









































