.sb {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 28px;
	font-weight: 800;
	float: left;
	margin-left: 50px;
	color: #444;
}

.sb2 {
	float: right;
	margin-right: 50px;
}

.headers {
	clear: both;
}

.nav_list {
	text-align: center;
	width: 100%;
	display: inline-block;
}

.list {
	color: #444;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}

.top {
	background-color: #FFECB3;
	padding-bottom: 25px;
}

.top, .philosophy, .the_digs, .come {
	margin-right: 75px;
	margin-left: 75px;
}

.modern_working {
	background-image: url(modern_working.jpg);
	height: 800px;
	width: 1252px;
	margin-left: 75px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.mission {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	padding-top: 165px;
	padding-left: 20px;
	color: #fff;
}

.describe_philosophy, .describe_come, .mission, .iphone, .be_productive {
	color: #FAFAFA;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.equation {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-left: 20px;
	font-size: 26px;
	color: #fff;
	line-height: 2.1;
}

.iphone {
	padding-left: 959px;
	padding-top: 85px;
	font-size: 14px;
	color: #B2DFDB;
}

.to_do {
	padding-bottom: 7px;
}

.philosophy, .the_digs {
	font-size: 20px;
	background-color: #4A148C;
}

.describe_philosophy, .be_productive {
	width: 500px;
	padding-left: 400px;
	padding-top: 30px;
	line-height: 1.5;
	text-align: center;
}

.unproductive, .stressed, .understand, .us {
	color: #F48FB1;
	font-weight: 600;
}

#phil {
	font-family: 'Fjalla One', sans-serif;
	font-size: 42px;
	color: #fff;
	margin-left: 75px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.3;
	border: 2px solid white;
	width: 320px;
}

.understand {
	font-family: 'Fjalla One', sans-serif;
	font-size: 36px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 22px;
}

.be_productive {
	width: 830px;
	border: 2px solid white;
	padding-left: 0px;
	height: 140px;
}

.productivity {
	margin-left: 215px;
	padding-top: 25px;
}

.show_digs {
	padding-top: 200px;
}

#stick {
	width: 100px;
	height: auto;
	float: right;
	padding-right: 50px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.running_sticks {
	padding-top: 60px;
	padding-right: 110px;
}

.come {
	background-color: #B2DFDB;
}

.describe_come {
	padding-bottom: 300px;
}

.the_digs {
	text-align: center;
	padding-top: 320px;
}

.arrows {
	color: #FFF176;
}












































