/* From Joni: Overall comments
 * 
 * Hi Matt!  I will be adding in comments to your code in CSS comments like this one.
 * 
 * Overall, your code is wonderfully easy to read.  Great job with the formatting, ordering, and 
 * indenting here!
 */

html {
	font-family: 'Open Sans', sans-serif;  /* Nice declaration of your fonts in the html selector! */
	margin-right: 320px;
	margin-left: 320px;
}

h1 {
	margin-left: 50px;
	font-size: 24px;
	font-weight: 800;
	color: white;
}

h2 {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: white;
	padding-bottom: 21px;
}

h3 {
	font-size: 20px;
	font-weight: 600;
}

p.firstlink {
	text-align: center;
	color: black;
	font-size: 14px;
	border: 7px solid;
	border-color: yellow; /* Remember to use the hex codes from the design file instead of the "yellow" keyword */
	border-radius: 5px;
	font-weight: 800;
	margin-right: 255px;
	margin-left: 255px;
	background: yellow;
}

a.not-active {
	pointer-events: none; /* Nice find!  I actually have not seen this property used before; it is fairly new. */
	cursor: default;
	color: black;
	text-decoration: none;
}

div.first {
	padding-bottom: 200px;
	background-image: url("header_bg.jpg"); 
	background-size: cover; 
}

div.second {
	padding-top: 20px;
	padding-left: 80px;
	padding-right: 250px;
	padding-bottom: 50px;
	background-color: #f0efef;
	font-weight: 300;
}

div.quote {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	font-style: italic; 
}

div.thirdbackground {
	background-image: url("testimonial_bg.jpg");
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

p.Amanda {
	color: white;
	font-size: 18px;
	font-weight: 300;
}

h4 {
	color: white;
	font-weight: 600;
	font-size: 18px;
}

div.third {
	padding-bottom: 200px;
	color: #121212;
	font-size: 13px;
	text-align: center;
}

ul {
	padding right: 25px;
}

div.first {
	/* 
	    Another nice find with the column-count and the vendor prefixes.  I am not sure that does anything
	    for you in this case, but definitely like that you are experimenting with new things.
	    This property is more for layouts where you have multiple columns (like the week 3 assignment).
	*/
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

a.bottomlink {
	text-decoration: none;
	color: white;
	background-color: #033048;
	/* don't forget your semi-colons (below) */
	border-radius: 5px  
	font-weight: 800;
	/* You can also combine the next 2 lines into 1 - i.e. border: 10px solid #033048; */
	border: 10px solid; 
	border-color: #033048;
}

p.bottomlink {
	color: white;
	background-color: yellow;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	font-weight: 800;
}

footer {
	text-align: center;
	font-size: 9px;
	font-weight: 600;
	color: white;
	padding-bottom: 15px;
}

h1.secondary {
	text-align: center;
	color: yellow;
	font-weight: 800;
	font-size: 24px;
	padding-top: 20px;
}

div.lastbackground {
	background-color: #121212;

}

nav {
	height: auto;
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}


















